:root{
    --primary-color:#EEF5FF;
    --secondary-color:hsl(214, 100%, 85%);
    --main-color:#86B6F6;
    --dark-color:#176B87;
}

*{
    // outline: 2px solid red;
    font-family: 'Times New Roman', Times, serif;
    body::-webkit-scrollbar {
        width: 0.5em;
    box-sizing: border-box;

      }
      
      body::-webkit-scrollbar-thumb {
        background-color: #888;
      }
      
      body::-webkit-scrollbar-track {
        background-color: #eee;
      }
    body{
        header{
            background-color: #EEF5FF;
            position: fixed;
            z-index: 2;
            .logo{
                width: 50%;
                min-width: 10%;
                margin:0px 0 0px 85px;
                // box-shadow: 7px 5px 8px rgba(0, 0, 0, 0.2);
            }
            .nav-links{
                padding: 40px 0 0 0;                
                ul{
                    list-style: none;
                    li{
                        display: inline-block;
                        min-width: 150px;
                        a{
                            color: black;
                            text-decoration: none;
                            font-size: 18px;                        }
                        .sell{
                            border: 0 2px 0 solid var(--main-color);
                            position: relative;
                            overflow: hidden;
                            font-weight: 600;
                            min-width: 10px;
                            &::after {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 4px;
                                background-color: var(--main-color);
                                position: absolute;
                                bottom: 1;
                                left: 0;
                            }
                        }
                        .fa-bag-shopping{
                            font-size: 30px;
                        }
                    }
                    .cart-icon {
                        color: black;
                        padding: 0px 15px;
                        margin: -7px 20px 0 0;
                        cursor: pointer;
                        // outline: 2px solid red;
                        border-radius: 50%;
                        width: 50px;
                        align-items: center;
                        align-content: center;
                        font-size: 30px;
                        .fa-cart-shopping{
                            color: black;
                        }     
                    }
                    }
                    .fa-user{
                        font-size: 35px;
                        color: black;
                    }
                }
        }
        nav .cart-container {
            background: var(--dark-color);
            position: fixed;
            top: 0;
            right: -850px;
            width: 850px;
            height: 1000pxv b;
            padding-top: 50px;
            z-index: 2;
            transition: right 0.5s;
            border-radius: 15px;
            #cartContainer{
                h2{
                    margin: auto;
                    font-weight: bold;
                    border-bottom: solid 2px white;
                    width: 300px;
                    padding: 0 20px; 
                    color: var(--primary-color);
                }
                #cartContent{
                    overflow: scroll;
                    height: 700px;
                    .cart-item{
                        display: flex;
                        margin: 10px auto;
                        background: var(--primary-color);
                        width: 95%;
                        .cart-product{
                            display: flex;
                            align-items: flex-end;
                            img{
                                max-width: 20%;
                            }
                            p{
                                font-size: 24px;
                                font-weight: bold;
                                margin: auto;
                            }    
                        }
                        .quantity-buttons{
                            display: flex;
                            height: 28px;
                            justify-content: space-between;
                            margin:auto;
                            .quantity-btn{
                                margin-right: 10px;
                                background-color: var(--main-color);
                                border: solid .5px black;
                                border-radius: 5px;
                            }
                            .remove-btn{
                                color: red;
                                background: none;
                                border: none;
                                font-size: 25px;
                                margin: -5px 0 0 0;
                            
                            }    
                        }
                    }
                }
            }
            #payment-here {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px;
            }
            #cartTotal {
                // margin: auto;
                font-weight: bold;
                font-size: 22px;
                background-color: red;
                width: 250px;
                padding: 10px 10px 10px 30px;
                border-radius: 10px;
            }
            #cartTotal h2 {
                color: var(--primary-color);
                margin: 20px;
            }
            #payNowBtn {
                background-color: greenyellow;
                height: 50px;
                width: 200px;
                font-size: 24px;
                font-weight: 600;
            }
            #payNowBtn:hover {
                background-color: darkgreen;
            }
            .fas{
                position: absolute;
                top: 25px;
                left: 15px;
                cursor: pointer;
                color: white;
                font-size: 30px;
            }
        }
        #paymentModal {
            display: none; /* Hide modal by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        }
        .modal-content {
           background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            position: relative;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            h2{
                text-align: center;
                font-weight: bold;
            }
             /* Close Button */
            .close {
                position: absolute;
                top: -5px;
                right: 10px;
                font-size: 30px;
                cursor: pointer;
            }
        
            /* Form Labels */
            label {
                display: block;
                margin-bottom: 5px;
            }
            /* Form Inputs */
            input {
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                box-sizing: border-box;
            }
        
            /* Form Buttons */
            button {
                background-color: #4CAF50;
                color: white;
                padding: 10px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        
            /* Form Button Hover Effect */
            button:hover {
                background-color: #45a049;
            }
        
            /* Additional Styles for Total Cost and Change */
            #totalCost,
            #change {
                font-weight: bold;
                margin-top: 10px;
            }
        
        } 
        section{
            sidenav{
                height: 350%;
                h1{
                    font-size: 150%;
                    display: flex;
                    justify-content: center;
                    margin-top: 5px;
                }
                ul{
                    padding-bottom: 10px;
                    li{
                        font-size: 100%;
                        transition: .3s ease;
                        cursor: pointer;
                    }
                    li:hover{
                        background: linear-gradient(0deg, rgba(23,107,135,1) 6%, rgba(180,212,255,1) 91%);
                        // font-size: 120%;
                    }
                } 
            }  
            .tab-contents{
                display: none;
            }
            .tab-contents.active-tab{
                display: block;
            }
            .tab-links.active-link{
                background: linear-gradient(0deg, rgba(23,107,135,1) 6%, rgba(180,212,255,1) 91%);
                // font-size: 110%;
            }
            main{
                background: linear-gradient(0deg, rgba(23,107,135,1) 6%, rgba(180,212,255,1) 91%);

                border-radius: 10px;
                border: solid 2px;
                .parent-container {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
                    // grid-template-rows: repeat(3, 1fr);
                    grid-column-gap: 5px;
                    grid-row-gap:5px;
                    text-align: center;
                    .Product-container{
                        text-align: center;
                        background-color: var(--primary-color);
                        padding-top: 10px;
                        border-radius: 15px;
                        border: solid 1px;
                        transition: 0.3s ease;
                        max-width: 90%;
                        p{
                            font-size: 150%;
                        }
                        img{
                            max-width: 90%;
                        }
                        .product-name{
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            // width: 100%;
                            padding:0 20px;
                            font-size: 150%;
                        }
                        .custom-carousel-control {
                            color: black; 
                            border: none; 
                        }
                        
                        .custom-carousel-control:hover {
                            background-color: darkgrey;
                        }
                    }
                    .Product-container:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
        footer{
            background-color: #176b87;
            color: #fff;
            padding: 10px 0;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }    
    }      
}
// ---------ADD Button-------------------------------------------------------------------------------------------
.button {
    height: 40px;
    width: 70%;
    background-color: #132233;
    border: 2px solid rgb(182, 128, 128);
    color: #eee;
    transition: .6s;
    font-size: 70%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
    span {
        transform: translateX(10px);
        transition: .5s;
    }
    svg {
        transform: translateX(-300px);
        transition: .6s;
        z-index: 3;
        height: 20px;
    }
  }  
.button:hover {
    width: 25%;
    background-color: rgba(51, 34, 51, 0.815);
    box-shadow: 20px 20px 96px #bebebe,-20px -20px 96px #ffffff;
    svg {
        transform: translateX(-5px);
    }
    span {
        transform: translateY(70px);
        font-size: .1rem;
    }
  }
// ---------------------------------------------------------------------------------------------------------------------------//  
.spacer{
    clear: both;
    height: 160px;
}

@media (min-width: 200px) and (max-width: 992px){
    *{
        body{
            header{
                .nav-links{
                    padding: 40px 0 0 40px;
                    margin-left: -30px;
                    ul{
                        li{
                            visibility:hidden ;
                            min-width: 50px;
                        }
                        i{
                            visibility: visible;
                        }
                        .fa-user{
                            margin: 0;
                        }
                        .dropdown-item{
                            visibility: visible;
                        }
                        form{
                            margin: -5px 0 0 -20px;
                        }
                    } 

                }
                .logo {
                    width: 30%;
                    margin: 0px 0 -30px 0px;
                }
            }
            nav{
                #sidemenu{
                    #cartContainer{
                        #cartContent{

                        }
                    }
                }
            }
            #paymentModal{
                .modal-dialog{
                    .modal-content{
                        h2{

                        }
                        form{
                            label{

                            }
                            input{}
                            p span{}
                        }
                    }
                }
            }
        }
    }
    section{
        sidenav{
            h1{
                font-size: 120%;
            }
            ul{
                li{
                    font-size: 100%;
                }
            }
        }
        main{

            .parent-container{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(120px,1fr));
                grid-column-gap: 5px;
                grid-row-gap:5px;
                text-align: center;
                .Product-container{

                    p{
                        font-size: 80%;
                    }
                    .product-name{
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        padding:0 20px;
                        font-size: 100%;
                    }
                    img{
                        width: 70%;
                        height: 80px;
                    }
                }
            }
        }
    }
    .spacer{
        clear: both;
        height: 220px;
    }
    .button{
        font-size: 50% ;
    }
}